@{
    ViewData["Title"] = "联系我们";
}

<div class="text-center">
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">名称</th>
      <th scope="col">QQ号</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>CNBC官方群</td>
      <td>228071626</td>
    </tr>
    <tr>
      <td>CNBC聊天群</td>
      <td>579196685</td>
    </tr>
    <tr>
      <td>展会房间预定/志愿者招募</td>
      <td>349559930</td>
    </tr>
    <tr>
      <td>展会摊位/众筹回馈事项/各种小事－负责人蹄铁</td>
      <td>2428142693</td>
    </tr>
    <tr>
      <td>CNBC摊主备群</td>
      <td>651152539</td>
    </tr>
    <tr>
      <td>COSER招募</td>
      <td>2639474171</td>
    </tr>
    <tr>
      <td>节目组/现场活动</td>
      <td>2992010004</td>
    </tr>
  </tbody>
</table>
</div>