@{
    ViewData["Title"] = "首页";
}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  网站初次加载有点慢，请耐心等待~~
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="jumbotron">
  <h1>2019 杭州小马展</h1>
  <p>CNBC展会·第三届·杭州站</p>
  <p>
    <a class="btn btn-primary btn-lg"  asp-controller="Home" asp-action="KnowMore" role="button">
      了解更多
    </a>
  </p> 
</div>

<!--产品展示部分-->
<div class="text-center">
  <h3>最新动态</h3>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a asp-controller="Home" asp-action="Slide1Page">
        <img class="d-block w-100" src="~/images/Slider/slide1.jpg" alt="First slide">
      </a>
    </div>
    <div class="carousel-item">
      <a asp-controller="Home" asp-action="Slide2Page">
        <img class="d-block w-100" src="~/images/Slider/slide2.jpg" alt="Second slide">
      </a>
    </div>
    <div class="carousel-item">
      <a asp-controller="Home" asp-action="Slide3Page">
        <img class="d-block w-100" src="~/images/Slider/slide3.jpg" alt="Third slide">
      </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="text-center">
  <p></p>
  <h3>鸣谢</h3>
  <table class="table table-striped">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">职位</th>
      <th scope="col">名字</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>网站制作</td>
      <td>叶落初冬</td>
    </tr>
    <tr>
      <td>负责单位</td>
      <td>蹄铁的小店</td>
    </tr>
    <tr>  
      <td colspan="2">
        本网站由<a href=@ViewBag.tao_bao>蹄铁的小店</a>独家赞助
      </td>
    </tr>
  </tbody>
</table>
</div>
