@{
    ViewData["Title"] = "Home page";
}

<!-- <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> -->

<div class="jumbotron">
  <h1>2019 杭州小马展</h1>
  <p>CNBC展会·第三届·杭州站</p>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">了解更多</a></p> -->
  <p><a class="btn btn-primary btn-lg"  asp-controller="Home" asp-action="KnowMore" role="button">了解更多</a></p> 
</div>

<!--产品展示部分-->
<div class="text-center">
  <h3>产品展示</h3>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a asp-controller="Home" asp-action="KnowMore">
        <img class="d-block w-100" src="~/images/slide1.png" alt="First slide">
      </a>
    </div>
    <div class="carousel-item">
      <a asp-controller="Home" asp-action="KnowMore">
        <img class="d-block w-100" src="~/images/slide2.png" asp-controller="Home" asp-action="KnowMore" 
        alt="Second slide">
      </a>
    </div>
    <div class="carousel-item">
      <a asp-controller="Home" asp-action="KnowMore">
        <img class="d-block w-100" src="~/images/slide3.png" asp-controller="Home" asp-action="KnowMore" 
          alt="Third slide">
      </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--感谢赞助商部分-->
<div class="text-center">
  <p></p>
  <h3>感谢赞助商</h3>
</div>
