@{
    ViewData["Title"] = "了解更多";
}
<!-- <h1>@ViewData["Title"]</h1> -->

<!-- <h3>展会地点</h3>
<img src="~/images/exhibition_map.png" class="img-thumbnail">

<p></p>
<h3>场地信息</h3>
<img src="~/images/place_information.png" class="img-thumbnail">
<p></p>
<img src="~/images/place_information2.png" class="img-thumbnail">

<p></p>
<h3>活动时间</h3>
<img src="~/images/exhibition_time.png" class="img-thumbnail"> -->


<h3>活动时间</h3>
<img src="~/images_test/1.jpg" class="img-thumbnail">

<p></p>
<h3>展会地点</h3>
<img src="~/images_test/3.jpg" class="img-thumbnail">

<p></p>
<h3>场地信息</h3>
<img src="~/images_test/4.jpg" class="img-thumbnail">

<p></p>
<img src="~/images_test/2.jpg" class="img-thumbnail">

