@{
    ViewData["Title"] = "了解更多";
}

<h3>活动时间</h3>
<img src="~/images/KnowMore/1.jpg" class="img-thumbnail">

<p></p>
<h3>展会地点</h3>
<img src="~/images/KnowMore/3.jpg" class="img-thumbnail">

<p></p>
<h3>场地信息</h3>
<img src="~/images/KnowMore/4.jpg" class="img-thumbnail">

<p></p>
<img src="~/images/KnowMore/2.jpg" class="img-thumbnail">

