@{
    ViewData["Title"] = "报名";
}

<!-- <div class="row">
    <div class="col-md-8 col-8">
        <h2>志愿者招募</h2>
        <p></p> 
        <p class="lead">
            如果您愿意牺牲一点自己的时间，愿意通过自己的付出，<br>
            让展会进程更加完美。那欢迎您来申请我们的志愿者哦。
        </p>
        <hr class="my-4">
        <p>志愿者申请人最好是<a href="#">18</a>周岁，志愿者申请，
        请联系: <a href="#">克里斯</a>，
        QQ：<a href="#">349559930</a>
　      </p>
    </div>
    <div class="col-md-4 col-4">
        <img class="img-thumbnail" src="~/images/volunteer_recruitment.png" alt="error">
    </div>
</div>

<p></p><br>
<div class="row">
    <div class="col-md-4 col-4">
        <img class="img-thumbnail" src="~/images/stall_registration_office.png" alt="error">
    </div>
    <div class="col-md-8 col-8">
        <h2>摊主报名处</h2>
        <p class="lead">
           如果您想售卖一些自己制作的小马同人周边产品，只需要通过简单的质检，<br>
           并了解场地安排。就可以成为一个摊主了。
        </p>
        <hr class="my-4">
        <p>申请摊位需要：签订协议、产品审核、缴纳费用。<br><br>
            摊位申请请联系: <br>
            <a href="#">蹄铁</a> QQ：<a href="#">2428142693</a>, 
        也可以加入待定摊主QQ群：<a href="#">651152539</a>
　      </p>
    </div>
</div>


<p></p><br>
<div class="row">
    <div class="col-md-8 col-8">
        <h2>Coser招募</h2>
        <p class="lead">
            COSER招募计划，2019年杭州小马展会coser已经开始招募，
            我们欢迎所有有意愿展现自己风采的coser们。
        </p>
        <hr class="my-4">

        <p>今年coser们可以稍稍加入其它元素哦，coser招募现已开启，</p>
            欢迎有想法朋友们咨询 <a href="#">星云</a>
            咨询QQ号：<a href="#">2639474171</a>
    </div>
    <div class="col-md-4 col-4">
        <img class="img-thumbnail" src="~/images/coser_recruitment.png" alt="error">
    </div>
</div> -->

<h3>志愿者招募</h3>
<img src="~/images/72分辨志愿者位置1.png" class="img-thumbnail">

<p></p>
<h3>Coser招募</h3>
<img src="~/images/72像素coser位置3.png" class="img-thumbnail">

<p></p>
<h3>摊主报名处</h3>
<img src="~/images/72分辨率压缩位置2.png" class="img-thumbnail">

<p></p>
<h3>展会节目组</h3>
<img src="~/images/72节目组位置4.png" class="img-thumbnail">
