@{
    ViewData["Title"] = "报名";
}

<h3>志愿者招募</h3>
<img src="~/images/SignUp/志愿者招募.png" class="img-thumbnail">

<p></p>
<h3>Coser招募</h3>
<img src="~/images/SignUp/Coser招募.png" class="img-thumbnail">

<p></p>
<h3>摊主报名处</h3>
<img src="~/images/SignUp/摊主报名处.png" class="img-thumbnail">

<p></p>
<h3>展会节目组</h3>
<img src="~/images/SignUp/展会节目组.png" class="img-thumbnail">
