@{
    ViewData["Title"] = "报名";
}

<h4 id="list-item-1">志愿者招募</h4>
<p>@ViewData["item1"]</p>
<h4 id="list-item-2">摊主报名</h4>
<p>@ViewData["item2"]</p>
<h4 id="list-item-3">Coser招募</h4>
<p>@ViewData["item3"]</p>
