@{
    ViewData["Title"] = "小马";
}

<h3>小马是什么？</h3>
<img src="~/images/slider1Page/什么是小马.png" class="img-thumbnail">

<p></p>
<h3>什么是马迷？</h3>
<img src="~/images/slider1Page/什么是马迷.png" class="img-thumbnail">

<p></p>
<h3>我们是谁？</h3>
<img src="~/images/slider1Page/我们是谁1.png" class="img-thumbnail"><br>
<img src="~/images/slider1Page/我们是谁2.png" class="img-thumbnail">

