@{
    ViewData["Title"] = "CNBC同人";
}

<p></p>
<h3>蹄铁的小店</h3>
<img src="~/images/slider2Page/蹄铁的小店.jpg" class="img-thumbnail">

<p></p>
<h3>Misty</h3>
<img src="~/images/slider2Page/Misty.jpg" class="img-thumbnail">

<p></p>
<h3>《小马通用手语》编写组</h3>
<img src="~/images/slider2Page/《小马通用手语》编写组.jpg" class="img-thumbnail">

<p></p>
<h3>20%Cooler</h3>
<img src="~/images/slider2Page/20%Cooler.jpg" class="img-thumbnail">

<p></p>
<h3>布莱德烘焙</h3>
<img src="~/images/slider2Page/布莱德烘焙.jpg" class="img-thumbnail">

<p></p>
<h3>马国蹄工铺</h3>
<img src="~/images/slider2Page/马国蹄工铺.jpg" class="img-thumbnail">

<p></p>
<h3>清源工艺</h3>
<img src="~/images/slider2Page/清源工艺.jpg" class="img-thumbnail">



<p></p>
<h3>甜莓工作室</h3>
<img src="~/images/slider2Page/甜莓工作室.jpg" class="img-thumbnail">

<p></p>
<h3>小马工坊</h3>
<img src="~/images/slider2Page/小马工坊.jpg" class="img-thumbnail">

<p></p>
<h3>WM社团</h3>
<img src="~/images/slider2Page/WM社团.jpg" class="img-thumbnail">